<form class="sort-by" method="get" data-sort-by data-mobile-sort-by>
  <div class="sort-by-container">
    <ul class="sort-by-list">
      {{> components/mobile-filters/mobile-sort-item
        param="featured"
        label="common.sorter.featured"
      }}
      {{> components/mobile-filters/mobile-sort-item
        param="newest"
        label="common.sorter.newest"
      }}
      {{> components/mobile-filters/mobile-sort-item
        param="bestselling"
        label="common.sorter.top_sellers"
      }}
      {{> components/mobile-filters/mobile-sort-item
        param="alphaasc"
        label="common.sorter.alpha_asc"
      }}
      {{> components/mobile-filters/mobile-sort-item
        param="alphadesc"
        label="common.sorter.alpha_desc"
      }}
      {{> components/mobile-filters/mobile-sort-item
        param="avgcustomerreview"
        label="common.sorter.reviews"
      }}
      {{> components/mobile-filters/mobile-sort-item
        param="priceasc"
        label="common.sorter.price_asc"
      }}
      {{> components/mobile-filters/mobile-sort-item
        param="pricedes"
        label="common.sorter.price_desc"
      }}
    </ul>
  </div>
</form>
