---
product:
  reviews:
    limit: {{theme_settings.product-single-reviews-count}}
  videos:
    limit: {{theme_settings.product-single-videos-count}}
  related_products:
    limit: {{theme_settings.product-single-related-count}}
brands: true
---

{{#partial 'amp-cart-icon'}}
  <div class="amp-mini-cart">
    <a class="button-cart" href="{{urls.cart}}">
      <svg class="icon icon-cart" width="21" height="18" viewBox="0 0 1195 1024" xmlns="http://www.w3.org/2000/svg">
        <title>basket</title>
        <path class="path1" d="M1056 288h-163.040c-1.184-3.264-2.398-6.496-4.192-9.408l-160-256c-8.512-13.568-23.584-22.592-40.768-22.592-26.496 0-48 21.472-48 48 0 9.344 2.656 18.016 7.264 25.408l134.112 214.592h-410.752l134.112-214.592c4.608-7.36 7.264-16.064 7.264-25.408 0-26.528-21.504-48-48-48-17.184 0-32.256 9.024-40.736 22.592l-160 256c-1.824 2.912-3.040 6.144-4.224 9.408h-163.040c-53.024 0-96 42.976-96 96v64c0 45.472 31.712 83.328 74.144 93.28l121.728 413.888c11.712 39.776 48.544 68.832 92.128 68.832h576c43.584 0 80.416-29.056 92.128-68.832l121.728-413.888c42.432-9.92 74.144-47.808 74.144-93.28v-64c0-53.024-42.976-96-96-96v0zM864 928l-576.032 0.064-112.928-384.064h801.92l-112.96 384zM1056 448h-960v-64h960v64z"></path>
      </svg>
      <span class="icon-cart-count {{#if cart.quantity '>' 0}}show{{/if}}">
        <span class="number">{{cart.quantity}}</span>
      </span>
    </a>
  </div>
{{/partial}}

{{#partial 'amp-custom-header-styles'}}
  {{> components/amp/styles/mini-cart}}
{{/partial}}

{{> core/amp/pages/product
  header_background=theme_settings.color-background
  header_text=theme_settings.color-body
  body_background=theme_settings.color-background
  color_headings=theme_settings.color-heading
  color_text=theme_settings.color-body
  footer_background=theme_settings.color-footer-background
  footer_text=theme_settings.color-footer-text
  color_accent=theme_settings.color-accent
  color_borders=theme_settings.color-border
}}

{{#partial 'amp-custom-product-styles'}}
  {{> components/amp/styles/product}}
{{/partial}}

{{#partial 'amp-additional-info'}}
  {{> components/products/additional-info-fields}}
{{/partial}}

{{#partial 'amp-footer'}}
  {{> core/amp/common/footer
    theme_credits=theme_settings.theme-credits
    theme_name="Merchant"
    store_copyright=theme_settings.store-copyright
  }}
{{/partial}}

{{#partial 'amp-social'}}
  {{#if social_media.length}}
    <div class="footer-social">
      <h5 class="amp-footer-heading">{{lang 'footer.social_title'}}</h5>
      {{> components/common/social-media-links links=social_media}}
    </div>
  {{/if}}
{{/partial}}

{{#partial 'amp-custom-footer-styles'}}
  {{> components/amp/styles/footer}}
{{/partial}}

{{> layout/amp}}
