<div class="section-area">
    <div class="container-fluid container-flex container-flex_pdn_0 container-flex_sm">
        <div class="row">
            <div class="col-md-6">
                <div class="goods">
                    <div class="inner">
                        <div class="desc">spring/summer 2019</div>
                        <h2 class="carousel-item-title caption-content">Heading</h2>
                        <a class="button button-primary caption-content" href="" tabindex="0">button text</a>
                    </div>
                    <div class="featured-image">
                        <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-1/1.jpg" alt="img">
                    </div>
                </div>
                <!-- end goods left -->
            </div>
            <div class="col-md-6">
                <div class="goods goods-right">
                    <div class="inner">
                        <div class="desc">spring/summer 2019</div>
                        <h2 class="carousel-item-title caption-content">Heading</h2>
                        <a class="button button-primary caption-content" href="" tabindex="0">button text</a>
                    </div>
                    <div class="featured-image">
                        <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-1/2.jpg" alt="img">
                    </div>
                </div>
                <!-- end goods right -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="goods">
                <div class="inner">
                    <div class="desc">SUB TITLE HERE 2019</div>
                    <h2 class="carousel-item-title caption-content">Heading</h2>
                    <a class="button button-primary caption-content" href="" tabindex="0">button text</a>
                </div>
                <div class="featured-image">
                    <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-2/1.jpg" alt="img">
                </div>
            </div>
            <!-- end goods left -->
        </div>
        <div class="col-md-4">
            <div class="goods goods-center">
                <div class="inner">
                    <div class="desc">SUB TITLE HERE 2019</div>
                    <h2 class="carousel-item-title caption-content">Heading</h2>
                    <a class="button button-primary caption-content" href="" tabindex="0">button text</a>
                </div>
                <div class="featured-image">
                    <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-2/2.jpg" alt="img">
                </div>
            </div>
            <!-- end goods middle -->
        </div>
        <div class="col-md-4">
            <div class="goods">
                <div class="inner">
                    <div class="desc">SUB TITLE HERE 2019</div>
                    <h2 class="carousel-item-title caption-content">Heading</h2>
                    <a class="button button-primary caption-content" href="" tabindex="0">button text</a>
                </div>
                <div class="featured-image">
                    <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-2/3.jpg" alt="img">
                </div>
            </div>
            <!-- end goods right -->
        </div>
    </div>
</div>
