<div class="section-area">
    <div class="container-fluid container-flex container-flex_pdn_0 container-flex_sm">
        <div class="row">
            <div class="col-md-6">
                <div class="goods">
                    <div class="inner">
                        <div class="desc">SPRING / SUMMER 2019</div>
                        <h2 class="carousel-item-title caption-content">Adventurer</h2>
                        <a class="button button-primary caption-content" href="" tabindex="0">Shop Now</a>
                    </div>
                    <div class="featured-image">
                        <img class="img-responsive" src="https://cdn11.bigcommerce.com/s-pyyecknj5o/products/117/images/409/mockup-b50c6b52__48284.1547527999.1280.1280.png?c=2&_ga=2.183198638.988751905.1547879148-1449372844.1535425530" alt="img">
                    </div>
                </div>
                <!-- end goods left -->
            </div>
            <div class="col-md-6">
                <div class="goods goods-right">
                    <div class="inner">
                        <div class="desc">WINTER / SPRING 2019</div>
                        <h2 class="carousel-item-title caption-content">Classy</h2>
                        <a class="button button-primary caption-content" href="" tabindex="0">Shop Now</a>
                    </div>
                    <div class="featured-image">
                        <img class="img-responsive" src="https://cdn11.bigcommerce.com/s-pyyecknj5o/products/124/images/435/mockup-2c058341__50538.1547615025.1280.1280.png?c=2&_ga=2.187435040.988751905.1547879148-1449372844.1535425530" alt="img">
                    </div>
                </div>
                <!-- end goods right -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="goods">
                <div class="inner">
                    <div class="desc">ACCESSORIES</div>
                    <h2 class="carousel-item-title caption-content">Dapper</h2>
                    <a class="button button-primary caption-content" href="" tabindex="0">Shop Now</a>
                </div>
                <div class="featured-image">
                    <img class="img-responsive" src="https://cdn11.bigcommerce.com/s-pyyecknj5o/products/128/images/445/mockup-72f93e0b__41294.1547788652.220.290.png?c=2" alt="img">
                </div>
            </div>
            <!-- end goods left -->
        </div>
        <div class="col-md-4">
            <div class="goods goods-center">
                <div class="inner">
                    <div class="desc">ACCESSORIES</div>
                    <h2 class="carousel-item-title caption-content">REAL MAN</h2>
                    <a class="button button-primary caption-content" href="" tabindex="0">Shop Now</a>
                </div>
                <div class="featured-image">
                    <img class="img-responsive" src="https://cdn11.bigcommerce.com/s-pyyecknj5o/products/121/images/424/mockup-ab587dea__30808.1547613015.1280.1280.png?c=2&_ga=2.24912946.988751905.1547879148-1449372844.1535425530" alt="img">
                </div>
            </div>
            <!-- end goods middle -->
        </div>
        <div class="col-md-4">
            <div class="goods">
                <div class="inner">
                    <div class="desc">ACCESSORIES</div>
                    <h2 class="carousel-item-title caption-content">Ride or Die</h2>
                    <a class="button button-primary caption-content" href="" tabindex="0">Shop Now</a>
                </div>
                <div class="featured-image">
                    <img class="img-responsive" src="https://cdn11.bigcommerce.com/s-pyyecknj5o/products/126/images/439/mockup-009031cc__09663.1547615605.220.290.png?c=2" alt="img">
                </div>
            </div>
            <!-- end goods right -->
        </div>
    </div>
</div>
