<div class="section-area">
    <div class="container-fluid container-flex container-flex_pdn_0 container-flex_md">
        <div class="row">
            <div class="col-md-6">
                <div class="b-goods b-goods-1">
                    <div class="b-goods__inner">
                        <div class="b-goods__categorie">spring / summer 2019</div>
                        <h2 class="b-goods__title">Adventurer</h2>
                        <!-- <a class="b-goods__btn btn btn-default" href="#">Let's Go</a> -->
                        <a class="button button-primary caption-content" href="" tabindex="-1">Let's Go</a>
                    </div>
                    <div class="b-goods__img">
                        <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-1/1.jpg" alt="img" />
                    </div>
                </div>
                <!-- end .b-goods-->
            </div>
            <div class="col-md-6">
                <div class="b-goods b-goods-1 b-goods-1_right">
                    <div class="b-goods__inner">
                        <div class="b-goods__categorie">spring / summer 2019</div>
                        <h2 class="b-goods__title">Classy</h2>
                        <a class="button button-primary caption-content" href="" tabindex="-1">Stay Classy</a>
                    </div>
                    <div class="b-goods__img">
                        <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-1/2.jpg" alt="img" />
                    </div>
                </div>
                <!-- end .b-goods-->
            </div>
        </div>
    </div>
</div>
<div class="section-area">
    <div class="container-fluid container-flex container-flex_pdn_0 container-flex_sm">
        <div class="row">
            <div class="col-sm-4">
                <div class="b-goods b-goods-2">
                    <div class="b-goods__inner">
                        <div class="b-goods__categorie">accessories</div>
                        <h2 class="b-goods__title">Dapper</h2>
                        <a class="button button-primary caption-content" href="" tabindex="-1">Neat and Trim</a>
                    </div>
                    <div class="b-goods__img">
                        <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-2/1.jpg" alt="img" />
                    </div>
                </div>
                <!-- end .b-goods-->
            </div>
            <div class="col-sm-4">
                <div class="b-goods b-goods-2">
                    <div class="b-goods__inner">
                        <div class="b-goods__categorie">accoesires</div>
                        <h2 class="b-goods__title">Real Man</h2>
                        <a class="button button-primary caption-content" href="" tabindex="-1">A man's man</a>
                    </div>
                    <div class="b-goods__img">
                        <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-2/2.jpg" alt="img" />
                    </div>
                </div>
                <!-- end .b-goods-->
            </div>
            <div class="col-sm-4">
                <div class="b-goods b-goods-2">
                    <div class="b-goods__inner">
                        <div class="b-goods__categorie">accessories</div>
                        <h2 class="b-goods__title">Ride or Die</h2>
                        <a class="button button-primary caption-content" href="" tabindex="-1">Ride For Life</a>
                    </div>
                    <div class="b-goods__img">
                        <img class="img-responsive" src="http://templines.rocks/html/skyhunter/assets/media/content/goods/group-2/3.jpg" alt="img" />
                    </div>
                </div>
                <!-- end .b-goods-->
            </div>
        </div>
    </div>
</div>