{{!--
  Homepage Section - Displays featured content on the homepage

  @param item_type string
    The type of items to display in the section (featured, new, top sellers, or categories)
  @param background string
    The background color to use for the section (alt or regular)
  @param limit number
    How many items to display
--}}
{{#if limit '>' 0}}
  {{#if item_type '===' 'featured'}}
    {{> components/home/grid
      title=(lang 'home.featured_products')
      item_type=products.featured
      number=../limit
    }}
  {{/if}}

  {{#if item_type '===' 'new'}}
    {{> components/home/grid
      title=(lang 'home.new_products')
      item_type=products.new
      number=../limit
    }}
  {{/if}}

  {{#if item_type '===' 'top-sellers'}}
    {{> components/home/grid
      title=(lang 'home.best_sellers')
      item_type=products.top_sellers
      number=../limit
    }}
  {{/if}}

  {{#if item_type '===' 'blog'}}
    {{#if settings.blog_enabled}}
      {{#if blog.recent_posts}}
        {{> components/home/recent-posts
          number=../limit
        }}
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
