<div
  class="facet-filter-wrapper
  {{#unless start_collapsed}}is-open{{/unless}}"
  data-facet-filter-wrapper
>
  <ul class="facet-list-items facet-default" data-count="{{items_count}}">
    {{#each items}}
      <li class="facet-item" data-facet-item>
        <a
          class="facet-item-link"
          href="{{url}}"
          rel="nofollow"
          data-faceted-search-facet
        >
          {{title}}
          {{#if ../show_product_counts}}
            <span class="facet-item-count" data-facet-item-count>
              ({{count}})
            </span>
          {{/if}}
        </a>
      </li>
    {{/each}}
  </ul>

  {{#if show_more_toggle}}
    <a
      href="#"
      class="facet-toggle-more"
      data-facet-more="{{#replace ' ' facet}}{{else}}{{facet}}{{/replace}}"
    >
      <span class="facet-item toggle-link-text-off is-open">
        {{lang 'faceted_search.show_more'}}
        <svg class="icon icon-arrow-down">
          <use xlink:href="#icon-arrow-down" />
        </svg>
      </span>
      <span class="facet-item toggle-link-text-on">
        {{lang 'faceted_search.show_less'}}
        <svg class="icon icon-arrow-up">
          <use xlink:href="#icon-arrow-up" />
        </svg>
      </span>
    </a>
  {{/if}}
